.promo{
    .bg-primary{
        text-align: left;
        padding-left: 7%;
        padding-top: 8em;
        padding-bottom: 8em;
    }
    .img-box{
        background: url(../img/phone-in-hand.jpg);
        background-size: cover;
        background-position: center;
    }
}